.p1 {
    color: red;
    text-decoration: overline;
}

.p2 {
    color: green;
    text-decoration: line-through;
}

.p3 {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: red;
}
