#one {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

#two {
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

div {
   width: 600px;
   padding: 20px;
   margin: 0 auto;
   border: 1px solid black;
   text-align: justify;
}

#parent {
    width: 600px;
    height: 320px;
}
